AWS_ACCESS_KEY_ID=<your_access_key_id> # Create it on IAM-AWS
AWS_SECRET_ACCESS_KEY=<your_secret_access_key> # Create it on IAM-AWS
AWS_DEFAULT_REGION=eu-west-1 # its just an example, modify it.
PROJECT=demo # your project name
ENVIRONMENT=dev # your environment
ID=platform # your id
STATE_BUCKET_NAME=tfstate-yourorg-environment-region-alias # your state bucket name
LOCK_TABLE_NAME=tf-lock-yourorg-environment # your lock table name
MONOREPO_URL=https://git.example.com/you/monorepo.git # your monorepo URL
